.Main {
  margin-top: 136px;
  color: #333333;
  padding-bottom: 60px;
}

.Heading {
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
  font-weight: 700;
}

.SubHeading {
  font-size: 20px;
  padding: 15px 0;
  font-weight: 700;
}

.SkillsHeading {
  font-size: 16px;
  padding: 15px 16px;
  font-weight: 700;
  text-align: left;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Heading {
    font-size: 35px;
  }
  .SubHeading {
    font-size: 28px;
  }
  .SkillsHeading {
    font-size: 18px;
  }
}