.Button {
  background-color: #1e90ff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  min-width: 120px;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Button {
    font-size: 20px;
  }
}