.Main {
  margin-top: 136px;
  padding-bottom: 60px;
}

.Heading {
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #333333;
  font-weight: 700;
}

.Image {
  height: 300px;
  border: 1px solid #87cefa;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Text {
  font-size: 16px;
  color: #333333;
  margin: 20px 0 20px 0;
  font-weight: 700;
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Heading {
    font-size: 35px;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  .Image {
    width: 300px;
    height: 350px;  }

  .Text {
    font-size: 18px;
  }
}