.IconsContainer {
  margin: 20px 0;
}

.Icon i {
  font-size: 25px;
  color: #1e90ff;
  transition: color 0.8s ease, transform 0.8s ease;
  transform: scale(1);
}

.Icon i:hover {
  transform: scale(1.2);
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
  .Icon i {
    font-size: 35px;
  }
  /* Footer icon container styles */
  .FooterIconsContainer {
    margin: 0;
  }
}


/* Styles for the footer icons */

.FooterIcon i {
  font-size: 22px;
  color: #666666;
  transition: transform 0.8s ease;
  transform: scale(1);
}

.FooterIcon i:hover {
  transform: scale(1.2);
}