.NavBar {
    background-color: #1e90ff;
    color: #ffffff;
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
    min-height: 136px;
    border-radius: 5px;
}

.navLinks {
    flex-grow: 1;
    display: flex;
    padding-top: 30px;
    align-items: flex-end;
    padding-right: 15px;
}

.Logo {
    padding-left: 2px !important;
}

.Image {
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.Link {
    color: #ffffff !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20px !important;
}

.name {
    font-size: 18px;
}

.MenuIcon {
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
    color: #ffffff !important;
    border-color: white !important;
    border: 2px solid #ffffff !important;
    
}

/* Styles for screen sizes larger than 768px wide */
@media (min-width: 768px) {
    .NavBar {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .Image {
        height: 60px;
        width: 60px;
    }

    .name {
        font-size: 22px; 
    }

    .MenuIcon {
        font-size: 22px;
    }
}

/* Styles for screen sizes larger than 992px wide */
@media (min-width: 992px) {
    .navLinks {
        justify-content: flex-end !important;
        align-items: center;
        padding-top: 0;
    }
}
